html::-webkit-scrollbar {
  width: 5px;
  height: 4px;
  border-radius: 10px;
  background-color: transparent;
}
html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #9d9d9d;
}
body {
  font-family: Roboto;
}
a {
  text-decoration: none;
}
button,
a,
input,
.btn {
  outline: none;
  color: unset;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
button:hover,
a:hover,
input:hover,
.btn:hover {
  text-decoration: none;
  color: unset;
}
button:focus,
a:focus,
input:focus,
.btn:focus {
  box-shadow: none;
  outline: none;
}
main {
  min-height: 100vh;
  padding-top: 72px;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
}
.url {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
